# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#Credentials
*.json
*.yml
*.yaml



# Virtual Environments
.venv
venv/
ENV/
env.bak/
venv.bak/
graph_env/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing & Coverage
.coverage
htmlcov/
.pytest_cache/
clean_intent_data.csv
clean_intent_data.py
intent_data_clean.csv


#Other files
MAP.txt